# Dependências
node_modules/

# Ambiente
.env
.env.local

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Builds
dist/
build/